.table {
  margin-bottom: 20px;
}

.table-header i {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.loading-spinner-wrapper {
  margin: 50px auto;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .table-header span {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .table-header {
    text-align: center;
  }
}